<div class="register-container">
  <div class="register-card">
    <div class="hero">
      <img src="/assets/logo/logo-bnp.svg" alt="BNP Logo" class="hero-logo" />
      <div class="hero-inner"></div>
    </div>
    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="register()">
      <h2>Create an account</h2>
      <mat-form-field appearance="outline">
        <mat-label>UID</mat-label>
        <input
          matInput
          appForbiddenUsername
          formControlName="uid"
          type="text"
          placeholder="Enter UID"
        />
      </mat-form-field>
      <div class="dual-field-row">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            type="text"
            placeholder="Enter First Name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            type="text"
            placeholder="Enter Last Name"
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Enter Password"
        />
      </mat-form-field>
      <div class="d-flex align-items-center justify-content-center pb-2">
        <mat-slide-toggle formControlName="role">Join as an Observer</mat-slide-toggle>
      </div>
      <button matButton type="submit">Sign up</button>
    </form>
  </div>
</div>
