@import url("../public/assets/themes/theme.css");
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Open Sans Regular";
  src: url("/assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("/assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("/assets/fonts/OpenSans/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Poppins Regular";
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/assets/fonts/EuclidCircularB/Euclid Circular B Regular.ttf") format('truetype');
}

html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Euclid Circular B', 'Poppins Regular', 'Open Sans Regular', sans-serif;
}
