/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Open Sans Regular";
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("/assets/fonts/OpenSans-Bold.ttf") format('truetype');
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans Regular" sans-serif;
}
