
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

@use '../public/theme/theme-colors' as bnpp-theme;
@use '@angular/material' as mat;

@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/open-sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url(/fonts/euclid-circular-b/Euclid\ Circular\ B\ Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/poppins/Poppins-Regular.ttf) format('truetype');
}

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: bnpp-theme.$primary-palette,
      tertiary: bnpp-theme.$tertiary-palette,
    ),
    typography: "Open Sans",
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Euclid Circular B", "Poppins", "Open Sans", sans-serif; }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// Reusable fade-in class
.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

// Optional: Variant with different duration or delay
.fade-in-slow {
  animation: fadeIn 2s ease-in-out 0.5s forwards;
}

